@font-family_info: "UkrainianChance";
@font-family_text: "Yu Gothic UI";
@font-family-Kozuka: "Kozuka Gothic Pro";
@font-face {
  font-family: 'UkrainianChance', sans-serif;
  src: url("http://allfont.ru/allfont.css?fonts=ukrainianchance");
}

@font-face {
  font-family: 'UkrainianChance';
  src: url('http://allfont.ru/allfont.css?fonts=ukrainianchance');
  font-weight: normal;
  font-style: normal;
}